# import libraries pandas and yfinance

In [16]:
import pandas as pd
import yfinance as yf

# collection data from yahoo finance

In [8]:
start=pd.to_datetime('2022-01-01')
end=pd.to_datetime('2022-11-29')

In [9]:
ramsay=('AAPL','BTC-USD','^DJI')

In [10]:
df=yf.download(ramsay,start,end,interval='1d',group_by='ramsay',auto_adjust=True)

[*********************100%***********************]  3 of 3 completed

In [11]:
df.head(10)

                    ^DJI                                            \
                    Open          High           Low         Close
Date
2022-01-01           NaN           NaN           NaN           NaN
2022-01-02           NaN           NaN           NaN           NaN
2022-01-03  36321.589844  36595.820312  36246.449219  36585.058594
2022-01-04  36636.000000  36934.839844  36636.000000  36799.648438
2022-01-05  36722.601562  36952.648438  36400.390625  36407.109375
2022-01-06  36409.050781  36464.191406  36200.679688  36236.468750
2022-01-07  36249.589844  36382.839844  36111.531250  36231.660156
2022-01-08           NaN           NaN           NaN           NaN
2022-01-09           NaN           NaN           NaN           NaN
2022-01-10  36175.210938  36175.210938  35639.910156  36068.871094

                               AAPL                                      \
                 Volume        Open        High         Low       Close
Date
2022-01-01          NaN         NaN         NaN         NaN         NaN
2022-01-02          NaN         NaN         NaN         NaN         NaN
2022-01-03  347930000.0  175.597043  180.583634  175.478554  179.724548
2022-01-04  435080000.0  180.336790  180.642895  176.870854  177.443573
2022-01-05  462040000.0  177.354699  177.907665  172.447104  172.723587
2022-01-06  385890000.0  170.531448  173.098806  169.484760  169.840240
2022-01-07  356110000.0  170.719078  171.953382  168.882433  170.008118
2022-01-08          NaN         NaN         NaN         NaN         NaN
2022-01-09          NaN         NaN         NaN         NaN         NaN
2022-01-10  430680000.0  166.956928  170.333983  166.058351  170.027878

                              BTC-USD                              \
                 Volume          Open          High           Low
Date
2022-01-01          NaN  46311.746094  47827.312500  46288.484375
2022-01-02          NaN  47680.925781  47881.406250  46856.937500
2022-01-03  104487900.0  47343.542969  47510.726562  45835.964844
2022-01-04   99310400.0  46458.851562  47406.546875  45752.464844
2022-01-05   94537600.0  45899.359375  46929.046875  42798.222656
2022-01-06   96904000.0  43565.511719  43748.718750  42645.539062
2022-01-07   86709100.0  43153.570312  43153.570312  41077.445312
2022-01-08          NaN  41561.464844  42228.941406  40672.277344
2022-01-09          NaN  41734.726562  42663.949219  41338.160156
2022-01-10  106765600.0  41910.230469  42199.484375  39796.570312


                   Close       Volume
Date
2022-01-01  47686.812500  24582667004
2022-01-02  47345.218750  27951569547
2022-01-03  46458.117188  33071628362
2022-01-04  45897.574219  42494677905
2022-01-05  43569.003906  36851084859
2022-01-06  43160.929688  30208048289
2022-01-07  41557.902344  84196607520
2022-01-08  41733.941406  28066355845
2022-01-09  41911.601562  21294384372
2022-01-10  41821.261719  32104232331

In [17]:
df.to_csv(r'OneDrive\ramsay.csv')
#code to save data file in computer device as csv

# collect data from twitter

In [37]:
import snscrape.modules.twitter as sntwitter
import itertools
import pandas as pd
username = "BbhuttoZardari"
since="2022-10-01"
count = 10

In [38]:
df=pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(f'from:{username}').get_items(),count))[['content','date','retweetCount']]

In [39]:
print(df)

                                             content  \
0  Climate Justice Finally Arrives Through the Ne...
1  Shaheed Mohtarma Benazir Bhutto blazed a path ...
2  نفرت اور اشتعال کی سیاست سے لوگوں کو ایک دوسرے...
3  قتل گاہوں سے چن کر ہمارے علم \n\nاور نکلیں گے ...
4  Today Pakistan Peoples Party will be marking o...
5  شہید ذوالفقار علی بھٹو نے اس ملک کو پہلا جمہور...
6  پاکستان پیپلز پارٹی   نے 55 سال سے پاکستان کے ...
7  Allied parties collectively out preform PTI in...
8  Saddened to hear the news of the passing away ...
9  PTI facesaving flop show is  anticlimactic. Un...

                       date  retweetCount
0 2022-12-01 12:15:31+00:00          2142
1 2022-11-30 11:51:58+00:00          3079
2 2022-11-30 11:05:21+00:00          1656
3 2022-11-30 09:51:30+00:00           942
4 2022-11-30 07:37:57+00:00          2971
5 2022-11-29 13:41:07+00:00          1044
6 2022-11-29 13:13:05+00:00          1239
7 2022-11-29 02:55:00+00:00          1850
8 2022-11-26 17:38:29+00:00          1117
9 2022-11-26 16:24:07+00:00          2613

In [42]:
df1=pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(f'from:{username} since:{since}').get_items(),count))[['date','content']]

In [44]:
df1.head(1)

                       date                                            content
0 2022-12-01 12:15:31+00:00  Climate Justice Finally Arrives Through the Ne...

In [45]:
print(df1)

                       date                                            content
0 2022-12-01 12:15:31+00:00  Climate Justice Finally Arrives Through the Ne...
1 2022-11-30 11:51:58+00:00  Shaheed Mohtarma Benazir Bhutto blazed a path ...
2 2022-11-30 11:05:21+00:00  نفرت اور اشتعال کی سیاست سے لوگوں کو ایک دوسرے...
3 2022-11-30 09:51:30+00:00  قتل گاہوں سے چن کر ہمارے علم \n\nاور نکلیں گے ...
4 2022-11-30 07:37:57+00:00  Today Pakistan Peoples Party will be marking o...
5 2022-11-29 13:41:07+00:00  شہید ذوالفقار علی بھٹو نے اس ملک کو پہلا جمہور...
6 2022-11-29 13:13:05+00:00  پاکستان پیپلز پارٹی   نے 55 سال سے پاکستان کے ...
7 2022-11-29 02:55:00+00:00  Allied parties collectively out preform PTI in...
8 2022-11-26 17:38:29+00:00  Saddened to hear the news of the passing away ...
9 2022-11-26 16:24:07+00:00  PTI facesaving flop show is  anticlimactic. Un...

# collect data from twitter

In [70]:
since="2022-10-01"
count = 10
hashtag='wildlife'
search = '"datascience"'

In [66]:
df=pd.DataFrame(itertools.islice(sntwitter.TwitterHashtagScraper (f'from:#{hashtag}').get_items(),count))[['date','content']]

In [67]:
print(df)

                       date                                            content
0 2022-08-12 17:14:29+00:00  #Today #beach #travelling #in #SriLanka,😋😍,,\n...
1 2021-09-19 13:02:10+00:00  #wildlife #trafficking #from #bangladesh #to #...
2 2021-07-08 13:13:21+00:00  #gear #up #we #brace #ourselves #tree #plantin...
3 2021-06-11 21:02:00+00:00  #From the #archives\n\nNothing better than see...
4 2021-04-09 21:02:00+00:00  #From the #archives\n\nNothing better than see...
5 2021-02-19 22:01:00+00:00  #From the #archives\n\nNothing better than see...
6 2020-12-11 22:01:00+00:00  #From the #archives\n\nNothing better than see...
7 2020-11-13 22:05:00+00:00  #From the #archives\n\nNothing better than see...
8 2020-10-22 17:45:22+00:00  Tips to protect you from the itchy plague\n\nh...
9 2020-08-05 15:53:16+00:00  #thegreatdays2020 le 24 Juil 2020\n#Hommage à ...

In [71]:
df1=pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(f'from:{search}').get_items(),count))[['date','content']]

In [72]:
print(df1)

                       date                                            content
0 2022-01-18 01:50:51+00:00  Online data course - Starts Jan 31, Free to au...
1 2018-11-06 16:59:10+00:00  "Tidy datasets are all alike, but every messy ...
2 2018-10-10 15:08:20+00:00  The word "algebra" comes from 'The Compendious...
3 2018-10-02 03:14:21+00:00  From The Grammar of Graphics by Leland Wilkins...
4 2018-09-28 18:05:33+00:00  If you're interested in the history of #DataSc...
5 2018-09-24 15:54:12+00:00  @samiyehmah @Hugo @Medium Agree. I was actuall...
6 2018-09-22 19:20:04+00:00  "Everybody who does #DataScience really needs ...
7 2018-09-22 17:35:42+00:00  "If we look back on the history of statistics....
8 2018-09-22 17:31:08+00:00  This 2001 paper by William S. Cleveland is a m...
9 2018-09-22 01:55:55+00:00  Good advice from @hadleywickham on dealing wit...

# collect data from insta

In [18]:
import instaloader

In [19]:
bot=instaloader.Instaloader()

In [20]:
username='hassan.rao'

In [21]:
profile = instaloader.Profile.from_username(bot.context, username)

In [22]:
print(profile)

<Profile hassan.rao (1702557131)>

In [23]:
print("Username: ", profile.username)

Username:  hassan.rao

In [24]:
print("User ID: ", profile.userid)

User ID:  1702557131

In [25]:
print("Number of Posts: ", profile.mediacount)

Number of Posts:  48

In [26]:
print("Followers: ", profile.followers)

Followers:  397

In [27]:
print("Followees: ", profile.followees)

Followees:  1023

In [28]:
print("Bio: ", profile.biography,profile.external_url)

Bio:   None

In [29]:
print("External URL: ", profile.external_url)

External URL:  None